/dts-v1/;

/ {
    interrupt-parent = <&intc>;

    cpus {
        cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-a9";
            reg = <0>;
        };
    };

    memory@90000000 {
        device_type = "memory";
        reg = <0x90000000 0x2E6CC000>;
    };

    intc: interrupt-controller@2000000 {
        compatible = "arm,cortex-a9-gic";
        interrupt-controller;
        #interrupt-cells=<3>;
        reg=<0x02000000 0x1000>,
            <0x02002000 0x1000>;
    };

    timer {
        compatible="arm,armv7-timer";
        interrupts=<1 13 0x304>,
                   <1 14 0x304>,
                   <1 11 0x304>,
                   <1 10 0x304>;
    };

    chosen {
        bootargs =
            "efi=efi_novamap console=tty0 earlyprintk ignore_loglevel";
    };
};
